a.footnote {
    font-size: 80%;
    vertical-align: super;
}

a.footnote:link, a.footnote:active, a.footnote:visited, a.footnote:hover {
    background: transparent;
    color: #3B5998;
    text-decoration: none;
}

.JSpopup {
    position: absolute;
    color: #000;
    z-index: 20;
    overflow: hidden;
}

div.footnote-popup {
    cursor: help;
    font-size: 90%;
    line-height: 1.2em;
    border: 1px solid #A8B2CE;
    background-color: #F2F2F2;
    text-align: left;
    padding: 4px;
    max-width: 40%;
    min-width: 5em;
    overflow: visible;
}
